@import "~normalize.css";

@import "_variables";
@import "modules/form.scss";

body {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin: 16px;
}

main {
  max-width: 768px;
}
